h1 {
  color: #000000;
  font-size: 39px;
}
h2 {
  font-size: 26px;
}
img {
  max-width: 100%;
  max-height: 100%;

}


header {
  background-color: #F0F8FF;
  /* padding: 260px 0; */
  background-image: url("../img/bandsani.jpeg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding: 104px 0 78px;

}
body {
  color: #4a4a4a;
  font-family: 'Oxygen', sans-serif;
}
div {

}
@media (min-width: 576px) {
  .section {
  padding: 78px 0;
}
  h1 {
    font-size: 48px;
  }
  header {
  padding: 104px 0;
}
}


.nav-item {
  margin: 10px 16px;
}
.navbar-brand img {
  height: 46px;
  margin-right: 8px;
  width: 46px;
}
footer {
  background-color: white;
  padding: 35px 0;
}

.footer-logo {
  height: 22px;
  margin-bottom: 3px;
  width: 22px;
}

.section {
  padding: 26px 0 13px;
}

.first-section {
  background: #EFFFE9;
}

.first-section p {
  margin-top: 26px;
}

.top-section {
  background: #FBFBFB;
  margin: 13px;
}

.containers {
  border-style: solid;
  border-width: 1px;
  border-color: #c6c6cc;
  margin: 0px;
  padding: 26px;
}

.lauren-about-section {
  background: #FBFBFB;
  margin: 26px;
  position: left;
}

.lauren-about-section h2 {
  margin-bottom: 13px;
}

.devon-about-section {
  background: #FBFBFB;
  margin: 26px;
  position: right;
}

.devon-about-section h2 {
  margin-bottom: 13px;
}

.middle-section {
  background: #F7F9FC;
  margin: 13px;
}

.elise-about-section {
  background: #F7F9FC;
  margin: 26px;
  position: left;
}

.elise-about-section h2 {
  margin-bottom: 13px;
}

.caye-about-section {
  background: #F7F9FC;
  margin: 26px;
  position: right;
}

.caye-about-section h2 {
  margin-bottom: 13px;
}

.about-about-section {
  font-size: 16px;
  background-color: #CBECBE;
  border-radius: 13px;
  margin-top: 8px;
  padding: 8px 8px;
  margin-bottom: 8px;
}
