
<form method="POST" action="/events">
  <fieldset>
    <legend>New Event</legend>
    <p>
      <label for="title">Event Title</label><br>
      <input type="text" name="title" />
    </p>
    <p>
      <label for="desc">Description</label><br>
      <input type="text" name="desc" />
    </p>
  </fieldset>
  <p>
    <button type="submit">Save Event</button>
  </p>

</form>
